*.class
*.log
*.jar
*.bat

# sbt specific
.cache
.history
.lib/
.idea/
.sbtserver/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

# Scala-IDE specific
.scala_dependencies
.worksheet
moye.me.html

# gradle specific
.gradle/gr
gradle-app.setting